nav .rk button{
    width: 55px;
    height: 55px;
    border: none;
    text-align: end;
    background-color: transparent;
}

nav .rk button span img{
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-radius: 100%;
}

nav .rk button span img[type="twt"]{
    width: 45px;
    height: 45px;
    text-align: center;
    border: 1px solid black;
    border-radius: 100%;
    padding: 10px;
}

nav .rk input{
    width: 200px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}

.smp{
    width: 100%;
    height: 300px;
    background-image: url("Assets/Pt Bg's (2).jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.smp div a span img{
    padding: 30px 10px;
    color: white;
}

.smp div a{
    padding: 30px 10px;
}

.smp div h3 span img{
    width: 25%;
    padding: 10px;
    background-color: orange;
    border-radius: 5px;
    border: 2px solid black;
}

.smp div h3{
    font-size: 42px;
    font-weight: 500;
    color: white;
    padding: 5px 20px;
}

.fry{
    width: 100%;
    height: 355px;
    background-color: wheat;
    color: black;
    background-size: cover;
    text-align: center;
    padding: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fry div img{
    width: 50%;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 100%;
}

.fry div p{
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    color: black;
}

.fri{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: white;
    padding: 45px;
    text-align: center;
}

.fri div h2{
    font-size: 42px;
    font-weight: 500;
    padding: 10px;
    font-family: define;
    text-align: center;
    animation: slide 5s;
    animation-iteration-count: infinite;
    animation-timing-function: 1;
}

@font-face {
    font-family: define;
    src: url("Assets/Kanit-Italic.ttf");
}

@keyframes slide{
    0% {
        transform: translate(-100%);
    }
    100% {
        transform: translate(0%);
    }
}

.fri div p{
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    text-align: center;
}

.fri .card{
    width: 100%;
    padding: 10px;
    border: 1px solid orange;
    background-color: wheat;
}

.fri .card img{
    width: 100%;
    height: 255px;
    padding: 10px;
    border: 1px solid black;
    background-color: black;
    border-radius: 5px;
}

.fri .card img[type="pizza"]{
    width: 100%;
    height: 255px;
    padding: 10px;
    border: 1px solid black;
    background-color: black;
    border-radius: 5px;
}

.fri .card .card-body{
    padding: 10px;
}

.fri .card .card-body div h4{
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-align: center;
}

.fri .card .card-body div p{
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-align: center;
}

.fri .card .card-body div a button{
    width: 125px;
    height: 45px;
    background-color: orange;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.fri1{
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    padding: 45px;
}

.fri1 .hd{
    width: 100%;
    height: 100%;
    padding: 25px;
    border: 1px solid orangered;
    border-radius: 5px;
}

.fri1 .hd:hover{
    background-color: wheat;
    color: orangered;
    border: 1px solid black;
    border-radius: 5px;
}

.fri1 .hd div h2{
    font-size: 26px;
    font-weight: 500;
    padding: 10px;
    font-family: man;
    text-align: center;
}

@font-face {
    font-family: man;
    src: url("Assets/Kanit-Italic.ttf");
}

.fri1 .hd div p{
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    text-align: center;
}

.fri2{
    width: 100%;
    height: 100%;
    background-image: url("Assets/Goumbik\ BG.jpg");
    color: black;
    padding: 45px;
    text-align: center;
    background-position: center;
    background-size: cover;
}

.fri2 div h3{
    font-size: 36px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    font-family: man;
}

.fri2 div h4{
    font-size: 26px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    color: black;
}

@font-face{
    font-family: Hr;
    src: url("Assets-1/CroissantOne-Regular.ttf");
}

.fri2 div ol{
    padding: 5px;
}

.fri2 div li{
    padding: 5px;
}

.fri2 div ol li details summary{
    width: 100%;
    height: 70px;
    background-color: orange;
    color: black;
    padding: 10px;
    border: 1px solid black;
    font-size: 18px;
    font-weight: 500;
    text-align: start;
}

.fri2 div ol li details p{
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    text-align: start;
    color: black;
}

.vsm{
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    padding: 45px;
}

.vsm .slide-left {
    position: relative;
    left: -10%; /* Starts off-screen to the left */
    opacity: 0; /* Starts invisible */
    transition: left 1s ease-in-out, opacity 1s ease-in-out;
}

.vsm .slide-right {
    position: relative;
    right: -10%; /* Starts off-screen to the right */
    opacity: 0; /* Starts invisible */
    transition: right 1s ease-in-out, opacity 1s ease-in-out;
}

.vsm div h3{
    font-size: 36px;
    font-weight: 500;
    padding: 25px;
    font-family: high;
}

.vsm div p{
    font-size: 16px;
    font-weight: 500;
    padding: 25px;
}

.vsm div h4{
    font-size: 26px;
    font-weight: 500;
    padding: 25px;
    font-family: high;
}

@font-face {
    font-family: high;
    src: url("Assets/Kanit-Italic.ttf");
}

.vsm div ul{
    padding: 10px;
}

.vsm div ul li{
    padding: 10px;
}

.vsm div ul li p{
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
}

.vsm div img[type="back"]{
    width: 100%;
    padding: 25px;
    border: 2px solid black;
    box-shadow: 1px 2px 2px 6px orange;
}

.vsm div img:hover{
    background-image: url("Assets/Food\ Bg.gif");
}

.fri3{
    width: 100%;
    height: 100%;
    background-image: url("Assets/Food\ Pxl\ Background\ Image.jpg");
    color: black;
    padding: 35px;
    text-align: center;
    background-position: center;
    background-size: cover;
}

.fri3 .rex{
    width: 200px;
    height: 150px;
    padding: 35px;
    text-align: center;
    background-color: white;
    color: black;
    border: 2px solid orangered;
    border-radius: 8px;
}

.fri3 .rex:hover{
    box-shadow: 2px 5px 8px black;
}

.fri3 .rex div span{
    background-color: white;
    color: black;
}

.fri3 div span{
    font-size: 26px;
    font-weight: 500;
    padding: 10px;
}

.fri3 div h2{
    font-size: 26px;
    font-weight: 500;
    padding: 10px;
}

.fri4{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    padding: 45px;
}

.fri4 img{
    width: 75%;
    padding: 10px;
    border: 1px solid orange;
    border-radius: 5px;
}

.fri4 .rkm .dropdown button{
    width: 175px;
    height: 50px;
    background-color: white;
    color: black;
    padding: 10px;
}

.fri4 .rkm .dropdown span img{
    width: 45px;
    padding: 10px;
}

.fri4 .rkm h3{
    font-size: 24px;
    font-weight: 500;
    padding: 10px;
}

.fri4 div h4{
    font-size: 20px;
    font-weight: 500;
}

.fri4 ol li a{
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 10px;
}

.fri4 ol li img{
    width: 75px;
    height: 55px;
    padding: 10px;
    border: none;
}

.fri4 div button img{
    width: 35px;
    height: 35px;
}

.fri4 div button{
    width: 175px;
    height: 65px;
    background-color: black;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    font-size: 300;
}

.fri4 div button span p{
    font-size: 16px;
    font-weight: 500;
}