nav .rk button{
    width: 55px;
    height: 55px;
    border: none;
    text-align: end;
    background-color: transparent;
}

nav .rk button span img{
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-radius: 100%;
}

nav .rk button span img[type="twt"]{
    width: 45px;
    height: 45px;
    text-align: center;
    border: 1px solid black;
    border-radius: 100%;
    padding: 10px;
}

nav .rk input{
    width: 200px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}

.ndls{
    width: 100%;
    height: 275px;
    background-image: url("Assets/Noodles\ Bg.jpg");
    color: white;
    padding: 45px;
    background-position: center;
    background-size: cover;
}

.ndls div a span img{
    width: 35px;
    height: 35px;
    background-color: white;
    color: black;
}

.ndls div a span{
    padding: 30px 10px;
}

.ndls div a{
    padding: 30px 10px;
}

.ndls div h3{
    font-size: 42px;
    font-weight: 800;
    color: white;
    padding: 15px 20px;
    font-family: R1;
}

@font-face {
    font-family: R1;
    src: url("Assets/Kanit-Italic.ttf");
}

.ndls div h3 span img{
    width: 25%;
    padding: 10px;
    background-color: orange;
    border-radius: 5px;
    border: 2px solid black;
}

.ndls1{
    width: 100%;
    height: 100%;
    background-color: wheat;
    color: black;
    background-size: cover;
    text-align: center;
    padding: 35px;
}

.ndls1 div img{
    width: 50%;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 100%;
}

.ndls1 div p{
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    color: black;
}

.ndls2{
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    padding: 45px;
}

.ndls2 div h2{
    font-size: 42px;
    font-weight: 500;
    padding: 10px;
    font-family: define;
    text-align: center;
    animation: slide 5s;
    animation-iteration-count: infinite;
    animation-timing-function: 1;
}

@font-face {
    font-family: define;
    src: url("Assets/Kanit-Italic.ttf");
}

@keyframes slide{
    0% {
        transform: translate(-100%);
    }
    100% {
        transform: translate(0%);
    }
}

.ndls2 div p{
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
}

.ndls2 .card{
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: wheat;
}

.ndls2 .card:hover{
    border: 5px solid orange;
}

.ndls2 .card img{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    background-color: black;
}

.ndls2 .card .card-body{
    padding: 10px;
    text-align: center;
}

.ndls2 .card .card-body div h3{
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
}

.ndls2 .card .card-body div p[type="noodles"]{
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
}

.ndls2 .card .card-body div p span{
    font-size: 16px;
    font-weight: 800;
    padding: 10px;
    color: blue;
    font-family: food;
}

.ndls2 .card .card-body div button{
    width: 135px;
    height: 45px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.ndls2 .card .card-body div button:hover{
    background-color: black;
    color: white;
}

.offcanvas h2 span img{
    width: 25%;
    padding: 10px;
    border: 1px solid black;
}

.offcanvas h2{
    font-size: 36px;
    font-weight: 500;
    padding: 10px;
}

.offcanvas div a p span img{
    width: 25%;
    padding: 10px;
    border: 1px solid red;
    background-color: black;
}

.offcanvas div a p{
    font-size: 20px;
    font-weight: 800;
    padding: 10px;
    color: black;
    border: 1px solid red;
}

.modal h1{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.ndls3{
    width: 100%;
    height: 100%;
    background-image: url("Assets/Goumbik\ BG.jpg");
    color: black;
    padding: 45px;
    background-position: center;
    background-size: cover;
}

.ndls3 div h2{
    font-size: 42px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    font-family: define;
}

.ndls3 div ul{
    padding: 5px;
}

.ndls3 div ul li{
    padding: 5px;
}

.ndls3 div ul li details summary{
    width: 100%;
    height: 60px;
    background-color: orange;
    color: black;
    padding: 10px;
    border: 1px solid black;
    font-size: 18px;
    font-weight: 500;
}

.ndls3 div ul li details summary p{
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    color: black;    
}

.vsm{
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    padding: 45px;
}

.vsm .slide-left {
    position: relative;
    left: -10%; /* Starts off-screen to the left */
    opacity: 0; /* Starts invisible */
    transition: left 1s ease-in-out, opacity 1s ease-in-out;
}

.vsm .slide-right {
    position: relative;
    right: -10%; /* Starts off-screen to the right */
    opacity: 0; /* Starts invisible */
    transition: right 1s ease-in-out, opacity 1s ease-in-out;
}

.vsm div h3{
    font-size: 32px;
    font-weight: 500;
    padding: 25px;
    font-family: high;
}

.vsm div p{
    font-size: 16px;
    font-weight: 500;
    padding: 25px;
}

.vsm div img{
    width: 75%;
    padding: 10px;
    border: 1px solid orange;
}

.vsm div h4{
    font-size: 26px;
    font-weight: 500;
    padding: 25px;
    font-family: high;
}

@font-face {
    font-family: high;
    src: url("Assets/Kanit-Italic.ttf");
}

.vsm div ol li p{
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
}

.vsm div img[type="back"]{
    width: 100%;
    padding: 15px;
    border: 2px solid black;
    box-shadow: 1px 2px 2px 6px orange;
    border-radius: 5px;
}

.vsm div img[type="back"]:hover{
    background-image: url("Assets/Food\ Bg.gif");
}

.ndls4{
    width: 100%;
    height: 100%;
    background-image: url("Assets/Food\ Pxl\ Background\ Image.jpg");
    color: black;
    padding: 35px;
    text-align: center;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
}

.ndls4 .rex{
    width: 200px;
    height: 150px;
    padding: 35px;
    text-align: center;
    background-color: white;
    color: black;
    border: 2px solid orangered;
    border-radius: 8px;
}

.ndls4 .rex:hover{
    box-shadow: 2px 5px 8px black;
}

.ndls4 .rex div span{
    background-color: white;
    color: black;
}

.ndls4 div span{
    font-size: 26px;
    font-weight: 500;
    padding: 10px;
}

.ndls4 div h2{
    font-size: 26px;
    font-weight: 500;
    padding: 10px;
}

.ndls5{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    padding: 45px;
}

.ndls5 img{
    width: 75%;
    padding: 10px;
    border: 1px solid orange;
    border-radius: 5px;
}

.ndls5 .rkm .dropdown button{
    width: 175px;
    height: 50px;
    background-color: white;
    color: black;
    padding: 10px;
}

.ndls5 .rkm .dropdown span img{
    width: 45px;
    padding: 10px;
}

.ndls5 .rkm h3{
    font-size: 24px;
    font-weight: 500;
    padding: 10px;
}

.ndls5 div h4{
    font-size: 20px;
    font-weight: 500;
}

.ndls5 ol li a{
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 10px;
}

.ndls5 ol li img{
    width: 55px;
    height: 55px;
    padding: 10px;
    border: none;
}

.ndls5 ol li{
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    color: white;
}

.ndls5 div button img{
    width: 35px;
    height: 35px;
}

.ndls5 div button{
    width: 175px;
    height: 65px;
    background-color: black;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    font-size: 300;
}

.ndls5 div button span p{
    font-size: 16px;
    font-weight: 500;
}

